<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="[%p] %c{1} - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.tinkerpop.gremlin.driver.Host" level="ERROR"/>
    <Root level="${sys:ytdb.log4j.level:-INFO}">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>