[Unit]
Description=TestFlows GitHub Hetzner Runners
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/github-hetzner-runners-wrapper
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
