<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>ytdb-maven-central</id>
      <username>${env.MAVEN_MIRROR_USERNAME}</username>
      <password>${env.MAVEN_MIRROR_PASSWORD}</password>
    </server>
    <server>
      <id>central</id>
      <username>${env.MAVEN_USERNAME}</username>
      <password>${env.MAVEN_PASSWORD}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>ytdb-maven-central</id>
      <mirrorOf>central</mirrorOf>
      <name>YTDB mirror of Maven Central</name>
      <url>https://maven.youtrackdb.io/maven-central</url>
    </mirror>
  </mirrors>
</settings>